source https://api.nuget.org/v3/index.json

nuget FSharp.Core 8.0.301
nuget Elmish 5.0.2
nuget Terminal.Gui 2.0.0-develop.4727 prerelease

group test
    source https://api.nuget.org/v3/index.json
    nuget Microsoft.NET.Test.Sdk
    nuget coverlet.collector
    nuget NUnit
    nuget NUnit.Analyzers
    nuget NUnit3TestAdapter