source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Elmish 5.0.2
nuget Terminal.Gui 2.0.0-alpha.4170 prerelease

group test
framework net10.0
    source https://api.nuget.org/v3/index.json
nuget Microsoft.NET.Test.Sdk
    nuget NUnit
nuget NUnit.Analyzers
    nuget NUnit3TestAdapter